{% extends "common/layout.html" %}

{% block content %}
<h3>Montreal upcoming weather for the next 7 days</h3>

<div class="col-md-12">
    {% for day in days %}
    <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{{ day.time|date("l jS") }}</h3>
            <h5>{{day.summary}}</h5>
          </div>
          <div class="panel-body">
            <h3>Max: {{day.getMaxTemperature()|number_format(0, '.', ',')}}&deg;C</h3>
            <h3>Min: {{day.getMinTemperature()|number_format(0, '.', ',')}}&deg;C</h3>
            <h5>Humidity: {{day.humidity * 100}}%</h5>
          </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}